# Usar polars para procesamiento de datos en Python

In [9]:
# %pip install polars
import polars as pl
import yfinance as yf
import numpy as np
import seaborn as sns
from datetime import date, timedelta
import time

# Dataset
Vamos a decargar un set de datos masivo de Yahoo Finance, que contiene datos historicos de precios de acciones, vamos a porbar con google y amazon ya que son empresas con mucha actividad.

In [10]:



#  Amazon | FECHA: 15 de mayo de 1997 hasta hoy
data_amazon = yf.download("AMZN", start="1997-05-15")


# Google | 19 de agosto de 2004 hasta hoy
data_google = yf.download("GOOGL", start="2004-08-19")

/var/folders/j4/21ypxx3x0019wgj7rqnlm2340000gn/T/ipykernel_11936/2787750577.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_amazon = yf.download("AMZN", start="1997-05-15")
[*********************100%***********************]  1 of 1 completed
/var/folders/j4/21ypxx3x0019wgj7rqnlm2340000gn/T/ipykernel_11936/2787750577.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_google = yf.download("GOOGL", start="2004-08-19")
[*********************100%***********************]  1 of 1 completed

In [11]:
data_amazon.head()

Price          Close      High       Low      Open      Volume
Ticker          AMZN      AMZN      AMZN      AMZN        AMZN
Date
1997-05-15  0.097917  0.125000  0.096354  0.121875  1443120000
1997-05-16  0.086458  0.098958  0.085417  0.098438   294000000
1997-05-19  0.085417  0.088542  0.081250  0.088021   122136000
1997-05-20  0.081771  0.087500  0.081771  0.086458   109344000
1997-05-21  0.071354  0.082292  0.068750  0.081771   377064000

MultiIndex([( 'Close', 'AMZN'),
            (  'High', 'AMZN'),
            (   'Low', 'AMZN'),
            (  'Open', 'AMZN'),
            ('Volume', 'AMZN')],
           names=['Price', 'Ticker'])

# Vamos a preparar el dataset en polars

In [ ]:

# Dataframe de Amazon
df_amazon = pl.DataFrame(data_amazon.rename({"date": "Date"}))

# Dataframe de Google
df_google = pl.DataFrame(data_google.rename({"date": "Date"}))

In [13]:
df_amazon.head()

shape: (5, 5)
┌───────────────────┬──────────────────┬─────────────────┬──────────────────┬────────────────────┐
│ ('Close', 'AMZN') ┆ ('High', 'AMZN') ┆ ('Low', 'AMZN') ┆ ('Open', 'AMZN') ┆ ('Volume', 'AMZN') │
│ ---               ┆ ---              ┆ ---             ┆ ---              ┆ ---                │
│ f64               ┆ f64              ┆ f64             ┆ f64              ┆ i64                │
╞═══════════════════╪══════════════════╪═════════════════╪══════════════════╪════════════════════╡
│ 0.097917          ┆ 0.125            ┆ 0.096354        ┆ 0.121875         ┆ 1443120000         │
│ 0.086458          ┆ 0.098958         ┆ 0.085417        ┆ 0.098438         ┆ 294000000          │
│ 0.085417          ┆ 0.088542         ┆ 0.08125         ┆ 0.088021         ┆ 122136000          │
│ 0.081771          ┆ 0.0875           ┆ 0.081771        ┆ 0.086458         ┆ 109344000          │
│ 0.071354          ┆ 0.082292         ┆ 0.06875         ┆ 0.081771         ┆ 377064000          │
└───────────────────┴──────────────────┴─────────────────┴──────────────────┴────────────────────┘

In [16]:
df_amazon.columns

["('Close', 'AMZN')",
 "('High', 'AMZN')",
 "('Low', 'AMZN')",
 "('Open', 'AMZN')",
 "('Volume', 'AMZN')"]